# Application parameters and settings. See https://doc.nette.org/configuring

parameters:


application:
	# Presenter mapping pattern
	mapping: App\*Module\Presenters\*Presenter


database:
	# SQLite database source location
	dsn: 'sqlite:%appDir%/../db/users.sqlite.db'
	user:
	password:
