<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	{* Page title with optional prefix from the child template *}
	<title>{ifset title}{include title|stripHtml} | {/ifset}User Login Example</title>
</head>

<body>
	{* Flash messages display block *}
	<div n:foreach="$flashes as $flash" n:class="alert, 'alert-' . $flash->type">{$flash->message}</div>

	{* Main content of the child template goes here *}
	{include content}

	{* Scripts block; by default includes Nette Forms script for validation *}
	{block scripts}
	<script src="https://unpkg.com/nette-forms@3"></script>
	{/block}
</body>
</html>
